* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#dropzone {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
}

#dropzoneText {
    padding: 20px;
    margin: 10%;
    margin-top: 30%;
    text-align: center;
    font-size: 2em;
    color: grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: .25em;
}

header {
    padding: 2%;
    font-size: 2.5em;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.section {
    padding: 1%;
    overflow: hidden;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%
}

.menu {
    padding: 0;
    margin: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-right: 10px;
    cursor: pointer;
    color: lightgrey;
}

.menu li:hover {
    color: grey!important;
}

.menu li:first-child {
    color: black;
}

.subMenu {
    padding: 0 5px 5px 5px;
    width: 100%;
}

.subMenu input {
    border: none;
    width: 60%;
    border-bottom: 1px solid black;
}

.subMenu button {
    background-color: white;
    border: none;
}

.contextMenu {
    position: absolute;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: white;
    display: none;
    z-index: 11;
}

.contextMenu li {
    list-style: none;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.save {
    text-decoration: none;
    color: black;
}

.textarea {
    overflow: auto;
    resize: both;
    word-wrap: break-word;
    width: 100%;
    height: 250px;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f2f2f2;
    border-radius: .40rem;
}

.popup {
    position: relative;
    cursor: pointer;
    visibility: collapse;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
}

@media screen and (max-width:500px) {
    .section {   
        flex: 0 0 100%;
        max-width: 100%
    }

    #dropzoneText {
        margin-top: 60%;
    }
}