aside {
    float: right;
    width: 25%;
    padding-left: 5px;
    overflow: auto;
    border-left: 1px solid black;
}

blockquote {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;    
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

dfn {
    display: block;
}

.left {
    min-width: 74%;
    max-width: 75%;
    display: inline-block;
    word-wrap: break-word;
}

section {
    padding: 2px;
    border: 1px dashed grey;
    border-radius: 5px;
}

p, .aside {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}